
<LinkToRender />
<br>
<div>
  Href to
</div>
<div>
  {{href-to 'application'}}
</div>
<br>
<div>
  Href to with fix
</div>
<div>
  {{href-to-fix 'application'}}
</div>

<button {{on 'click' this.reset}}>Reset</button>
